* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: Georgia, serif;
  font-weight: normal;
  background: #012f5a;
  font-size: 1rem;
  line-height: 1.7rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: Garamond, serif; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #539abe; }

button {
  cursor: pointer; }

nav {
  font-family: Garamond, serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: normal; }

nav > a {
  color: #ffffff !important; }

.o-page {
  max-width: 60%; }

.o-page__gutter {
  height: 5rem; }

@media only screen and (max-width: 1400px) {
  .o-page--break-for-medium {
    max-width: 75%; } }

@media only screen and (max-width: 667px) {
  .o-page--break-for-small {
    max-width: 100%; } }

@media only screen and (max-width: 667px) {
  .o-page__gutter--break-for-small {
    display: none; } }

.o-grid {
  display: flex;
  flex-flow: row nowrap; }

.o-grid--wrap {
  flex-wrap: wrap; }

.o-grid--align-center {
  justify-content: center; }

.o-grid--align-between {
  justify-content: space-between; }

.o-grid--vertical-align-center {
  align-items: center; }

.o-grid--vertical-align-end {
  align-items: flex-end; }

.o-grid--align-end {
  justify-content: flex-end; }

.o-grid--align-around {
  justify-content: space-around; }

.o-grid--vertical {
  flex-direction: column; }

.o-grid--content {
  padding: 0.5rem; }

.o-grid--content-l {
  padding: 1rem; }

.o-grid--content-xl {
  padding: 1.5rem; }

.o-grid--content-xxl {
  padding: 2rem; }

.o-grid--fullwidth {
  width: 100%; }

.o-grid--align-self-end {
  align-self: flex-end; }

.o-grid--push-down {
  margin-bottom: 0.5rem; }

.o-grid--push-down-l {
  margin-bottom: 1rem; }

.o-grid--push-down-xl {
  margin-bottom: 1.5rem; }

.o-grid--push-right {
  margin-right: 0.5rem; }

.o-grid--push-right-l {
  margin-right: 1rem; }

.o-grid--push-right-xl {
  margin-right: 1.5rem; }

.o-grid--flex-grow-7 {
  width: 65%; }

.o-grid--flex-grow-8 {
  width: 70%; }

.o-grid--flex-grow-10 {
  width: 90%; }

.o-grid--flex-grow-5 {
  width: 40%; }

.o-grid--flex-grow-4 {
  width: 30%; }

.o-grid--half-width {
  width: 50%; }

@media only screen and (max-width: 1024px) {
  .o-grid--break-for-medium {
    flex-wrap: wrap;
    flex-direction: column; } }

@media only screen and (max-width: 1024px) {
  .o-grid--fullwidth-for-medium {
    width: 100%; } }

@media only screen and (max-width: 1024px) {
  .o-grid--break-for-medium--align-center {
    align-items: center;
    justify-content: center;
    text-align: center; } }

@media only screen and (max-width: 667px) {
  .o-grid--break-for-small {
    flex-wrap: wrap; } }

.o-text--title-text {
  font-size: 1.5rem;
  font-weight: lighter; }

.o-text--blockquote {
  font-size: 1.6rem;
  line-height: 2.1rem; }

@media only screen and (max-width: 667px) {
  .o-text--title-text-break-for-small {
    font-size: 1rem;
    font-weight: bold; } }

@media only screen and (max-width: 1024px) {
  .o-text--centered-for-small {
    text-align: center; } }

@media only screen and (max-width: 667px) {
  .o-text--paragraph-text-break-for-small {
    text-align: center;
    font-size: 0.6rem; } }

.c-page {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 1000px 10px rgba(255, 255, 255, 0.73);
  -moz-box-shadow: 0px 0px 1000px 10px rgba(255, 255, 255, 0.73);
  box-shadow: 0px 0px 1000px 10px rgba(255, 255, 255, 0.73); }

.c-header {
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 180px 50px rgba(255, 255, 255, 0.73);
  -moz-box-shadow: 0px 0px 180px 50px rgba(255, 255, 255, 0.73);
  box-shadow: 0px 0px 180px 50px rgba(255, 255, 255, 0.73); }

.c-header__navigation-container {
  background: -moz-linear-gradient(45deg, black 0%, rgba(0, 0, 0, 0.89) 46%, rgba(0, 0, 0, 0.86) 58%, rgba(0, 0, 0, 0.76) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, black 0%, rgba(0, 0, 0, 0.89) 46%, rgba(0, 0, 0, 0.86) 58%, rgba(0, 0, 0, 0.76) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, black 0%, rgba(0, 0, 0, 0.89) 46%, rgba(0, 0, 0, 0.86) 58%, rgba(0, 0, 0, 0.76) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#c2000000',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.c-header__back-bar {
  font-family: Garamond, serif;
  color: #aaaaaa;
  font-weight: normal;
  background: #111213; }

.c-header__input-container {
  position: relative; }

.c-header__search-bar {
  width: 150px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  padding: 0.25rem;
  padding-left: 2.7rem;
  border: none; }

.c-header__search-bar:focus {
  outline: none; }

.c-header__search-icon {
  color: #666;
  top: 5px;
  left: 10px;
  position: absolute; }

.c-header__desc-icon {
  color: #666;
  top: 5px;
  left: 25px;
  position: absolute; }

.c-header__img, .c-header__img--slider, .c-header__img--slider:first-of-type {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block; }

.c-header__img--slider {
  width: 100% !important;
  display: none; }

.c-header__img--slider:first-of-type {
  width: 100% !important;
  display: block; }

.c-header__nav-icon {
  display: none; }

.c-header__slider-container {
  background: #111213; }

@media only screen and (max-width: 1024px) {
  .c-header__nav-item--break-for-medium {
    display: none; } }

@media only screen and (max-width: 1024px) {
  .c-header__nav--break-for-medium {
    display: flex;
    justify-content: flex-end; } }

@media only screen and (max-width: 1024px) {
  .c-header__nav-icon--break-for-medium {
    float: right;
    display: block;
    font-size: 1.3rem;
    margin-right: 0.5rem; } }

@media only screen and (max-width: 1024px) {
  .c-header__search-bar--break-for-medium {
    display: none; } }

@media only screen and (max-width: 1024px) {
  .c-header__navigation-container--break-for-medium {
    padding: 1rem; } }

@media only screen and (max-width: 1024px) {
  .c-header__blockquote--break-for-medium {
    font-size: 1.1rem;
    text-align: center; } }

.c-sidebar {
  font-size: 0.8rem;
  line-height: 1.4rem;
  background: -webkit-linear-gradient(#eaeaea 0%, rgba(234, 234, 234, 0.59) 41%, rgba(234, 234, 234, 0.56) 44%, rgba(234, 234, 234, 0.53) 47%, rgba(234, 234, 234, 0.48) 52%, rgba(234, 234, 234, 0) 100%);
  background: -moz-linear-gradient(#eaeaea 0%, rgba(234, 234, 234, 0.59) 41%, rgba(234, 234, 234, 0.56) 44%, rgba(234, 234, 234, 0.53) 47%, rgba(234, 234, 234, 0.48) 52%, rgba(234, 234, 234, 0) 100%);
  background: -o-linear-gradient(#eaeaea 0%, rgba(234, 234, 234, 0.59) 41%, rgba(234, 234, 234, 0.56) 44%, rgba(234, 234, 234, 0.53) 47%, rgba(234, 234, 234, 0.48) 52%, rgba(234, 234, 234, 0) 100%);
  background: linear-gradient(#eaeaea 0%, rgba(234, 234, 234, 0.59) 41%, rgba(234, 234, 234, 0.56) 44%, rgba(234, 234, 234, 0.53) 47%, rgba(234, 234, 234, 0.48) 52%, rgba(234, 234, 234, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#00eaeaea',GradientType=0 ); }

.c-post {
  border-bottom: 1px solid #f3f3f3;
  padding-bottom: 1.5rem;
  padding-top: 0.5rem; }

.c-post__image-container {
  border: 6px solid #f3f3f3;
  width: 150px;
  height: 150px;
  position: relative; }

.c-post__image-container::before {
  border: 1px solid #e5e5e5;
  content: " ";
  display: block;
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px; }

.c-post__image {
  max-width: 100%;
  min-width: 100%; }

.c-post__content {
  font-size: 0.8rem;
  line-height: 1.26rem; }

.c-post__date {
  font-size: 0.6rem;
  color: #539abe; }

.c-button {
  box-shadow: none;
  transition: box-shadow 200ms;
  border: none;
  font-size: 0.6rem;
  padding: 0.5rem 0.5rem; }

.c-button:focus {
  outline: none; }

.c-button--primary {
  background: #5196b9;
  border-bottom: 1px solid #111213;
  color: #ffffff;
  width: 145px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.c-button--secondary {
  color: #6b6b6b;
  width: 30px; }

.c-button--secondary:hover {
  color: #ffffff;
  background: #9e9e9e; }

.c-button--page {
  color: #6b6b6b;
  cursor: initial; }

.c-sponsors__image-container {
  border: 6px solid #f3f3f3;
  width: 150px;
  height: 100px;
  position: relative;
  margin-bottom: 1rem; }

.c-sponsors__image-container::before {
  border: 1px solid #e5e5e5;
  content: " ";
  display: block;
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px; }

.c-sponsors__image {
  max-width: 100%;
  min-width: 100%; }

.c-footer {
  background: #111213;
  color: #ffffff;
  -webkit-box-shadow: 0px 20px 50px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 20px 50px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 20px 50px -2px rgba(0, 0, 0, 0.5); }

.c-footer__paragraph, .c-footer__paragraph--light {
  font-size: 0.8rem;
  line-height: 1.4rem;
  color: #6b6b6b;
  width: 85%; }

@media only screen and (max-width: 1024px) {
  .c-footer__paragraph--break-for-small {
    width: 100%; } }

.c-footer__paragraph--light {
  color: #919191 !important; }

.c-footer__paragraph--m {
  font-size: 0.9rem !important; }

.c-footer__image-container {
  width: 80%; }

.c-footer__image {
  margin-bottom: 1rem; }

/*# sourceMappingURL=main.css.map */
