* {
    margin: 0;
    padding: 0;
    @include box-sizing(border-box);
}

body {
    font-family: $base-font-family;
    font-weight: normal;
    background: $background-base-color;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $secondary-font-family;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $light-blue-color;
}

button{
    cursor: pointer;
}

nav{
    font-family: $secondary-font-family;
    font-size: $nav-font-size;
    text-transform: uppercase;
    font-weight: normal; 
}

nav > a {
    color: $white-color !important;
}
