.c-header{
    color: $white-color;
    @include box-shadow (0px, 0px, 180px, 50px, $header-box-shadow-color);
}

.c-header__navigation-container{
    //TODO: create a mixin for this
    background: -moz-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.89) 46%, rgba(0,0,0,0.86) 58%, rgba(0,0,0,0.76) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(0,0,0,1) 0%,rgba(0,0,0,0.89) 46%,rgba(0,0,0,0.86) 58%,rgba(0,0,0,0.76) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%,rgba(0,0,0,0.89) 46%,rgba(0,0,0,0.86) 58%,rgba(0,0,0,0.76) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#c2000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.c-header__back-bar{
    font-family: $secondary-font-family;
    color: darken($light-gray-color, 25%);
    font-weight: normal;
    background: $header-base-color;
}

.c-header__input-container{
    position: relative;
}

.c-header__search-bar{
    width: 150px;
    @include border-radius(15px);
    padding: $base-padding-s;
    padding-left: $base-padding-xxxl; 
	border: none;
}

.c-header__search-bar:focus{
    outline: none;
}

.c-header__search-icon{
    color: #666;
    top: 5px;
    left: 10px;
    position: absolute;
}

.c-header__desc-icon{
    color: #666;
    top: 5px;
    left: 25px;
    position: absolute;
}

.c-header__img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display: block;
}

.c-header__img--slider{
    @extend .c-header__img;
    width: 100% !important;
    display: none;
}

.c-header__img--slider:first-of-type{
    @extend .c-header__img;
    width: 100% !important;
    display: block;
}

.c-header__nav-icon{
    display: none;
}

.c-header__slider-container{
    background: $header-base-color;
}

.c-header__nav-item--break-for-medium{
    @media #{$tablet} {
        display: none;
    }
}

.c-header__nav--break-for-medium{
    @media #{$tablet} {
        display: flex;
        justify-content: flex-end;
    }
}

.c-header__nav-icon--break-for-medium{
    @media #{$tablet} {
        float: right;
        display: block;
        font-size: $h4-font-size;
        margin-right: $base-padding;
    }
}

.c-header__search-bar--break-for-medium{
    @media #{$tablet} {
        display: none;
    }
}

.c-header__navigation-container--break-for-medium{
    @media #{$tablet} {
        padding: $base-padding-l;
    }
}

.c-header__blockquote--break-for-medium{
    @media #{$tablet} {
        font-size: $h6-font-size;
        text-align: center;
    }
}
