.c-footer{
    background: $header-base-color;
    color: $white-color;
    //TODO: fix rounded box shadow
    @include box-shadow(0px, 20px, 50px, -2px, $footer-box-shadow-color);
}

.c-footer__paragraph{
    font-size: $paragraph-font-size;
    line-height: $paragraph-line-height;
    color: darken($light-gray-color, 50%);
    width: 85%;
}

.c-footer__paragraph--break-for-small{
    @media #{$tablet}{
        width: 100%;
    }
}

.c-footer__paragraph--light{
    @extend .c-footer__paragraph;
    color: darken($light-gray-color, 35%) !important;
}

.c-footer__paragraph--m{
    font-size: $paragraph-font-size-m !important;
}

.c-footer__image-container{
    width: 80%;
}

.c-footer__image{
    margin-bottom: $base-padding-l;
}
