.c-sidebar{
    font-size: $paragraph-font-size;
    line-height: $paragraph-line-height;
    //TODO: fallback and mixin
    background: -webkit-linear-gradient(rgba(234,234,234,1) 0%, rgba(234,234,234,0.59) 41%, rgba(234,234,234,0.56) 44%, rgba(234,234,234,0.53) 47%, rgba(234,234,234,0.48) 52%, rgba(234,234,234,0) 100%);
    background: -moz-linear-gradient(rgba(234,234,234,1) 0%, rgba(234,234,234,0.59) 41%, rgba(234,234,234,0.56) 44%, rgba(234,234,234,0.53) 47%, rgba(234,234,234,0.48) 52%, rgba(234,234,234,0) 100%);
    background: -o-linear-gradient(rgba(234,234,234,1) 0%, rgba(234,234,234,0.59) 41%, rgba(234,234,234,0.56) 44%, rgba(234,234,234,0.53) 47%, rgba(234,234,234,0.48) 52%, rgba(234,234,234,0) 100%);
    background: linear-gradient(rgba(234,234,234,1) 0%, rgba(234,234,234,0.59) 41%, rgba(234,234,234,0.56) 44%, rgba(234,234,234,0.53) 47%, rgba(234,234,234,0.48) 52%, rgba(234,234,234,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#00eaeaea',GradientType=0 );
}
