.c-post{
    border-bottom: 1px solid $image-container-inner-border-color;
    padding-bottom: $base-padding-xl;
    padding-top: $base-padding;
}

.c-post__image-container{
    border: 6px solid $image-container-inner-border-color;
    width: 150px;
    height: 150px;
    position: relative;
}

.c-post__image-container::before{
    border: 1px solid $image-container-outer-border-color;
    content: " ";
    display: block;
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
}

.c-post__image{
    max-width: 100%;
    min-width: 100%;
}

.c-post__content{
    font-size: $paragraph-font-size;
    line-height: $paragraph-line-height*0.9;
}

.c-post__date{
    font-size: $button-font-size;
    color: $light-blue-color;
}
