.c-sponsors{

}

.c-sponsors__image-container{
    border: 6px solid $image-container-inner-border-color;
    width: 150px;
    height: 100px;
    position: relative;
    margin-bottom: $base-padding-l;
}

.c-sponsors__image-container::before{
    border: 1px solid $image-container-outer-border-color;
    content: " ";
    display: block;
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
}

.c-sponsors__image{
    max-width: 100%;
    min-width: 100%;
}
