.c-button{
    box-shadow: none;
	transition: box-shadow 200ms;
	border: none;
    font-size: $button-font-size;
    padding: $base-padding $base-padding;
}

.c-button:focus{
    outline: none;
}

.c-button--primary{
    background: $primary-button-color;
    border-bottom: 1px solid $header-base-color;
    color: $white-color;
    width: 145px;
    @include  border-radius(2px);
}

.c-button--secondary{
    color: darken($light-gray-color, 50%);
    width: 30px;
}

.c-button--secondary:hover{
    color: $white-color;
    background: darken($light-gray-color, 30%);

}

.c-button--page{
    color: darken($light-gray-color, 50%);
    cursor: initial;
}

.c-button--primary:hover{
    
}
