.o-text--title-text{
    font-size: $h2-font-size;
    font-weight: lighter;
}

.o-text--blockquote{
    font-size: $blockquote-font-size;
    line-height: $blockquote-line-height;
}

.o-text--title-text-break-for-small {
    @media #{$phone} {
        font-size: $base-font-size;
        font-weight: bold;
    }
}

.o-text--centered-for-small{
    @media #{$tablet} {
        text-align: center;
    }
}

.o-text--paragraph-text-break-for-small {
    @media #{$phone} {
        text-align: center;
        font-size: $button-font-size;
    }
}
