.o-page{
    max-width: $page-width;
}

.o-page__gutter{
    height: 5rem;
}

.o-page--break-for-medium{
    @media #{$laptop} {
        max-width: 75%;        
    }
}

.o-page--break-for-small{
    @media #{$phone} {
        max-width: 100%;        
    }
}

.o-page__gutter--break-for-small{
    @media #{$phone} {
        display: none;      
    }
}
