.o-grid{
    display: flex;
    flex-flow: row nowrap;
}

.o-grid--wrap{
    flex-wrap: wrap; 
}

.o-grid--align-center{
    justify-content: center;
}

.o-grid--align-between{
    justify-content: space-between;
}

.o-grid--vertical-align-center{
    align-items: center;
}

.o-grid--vertical-align-end{
    align-items: flex-end;
}

.o-grid--align-end{
    justify-content: flex-end;
}

.o-grid--align-around{
    justify-content: space-around;
}

.o-grid--vertical{
    flex-direction: column;
}

.o-grid--content{
    padding: $base-padding;
}

.o-grid--content-l{
    padding: $base-padding-l;
}

.o-grid--content-xl{
    padding: $base-padding-xl;
}

.o-grid--content-xxl{
    padding: $base-padding-xxl;
}

.o-grid--fullwidth{
    width: 100%;
}

.o-grid--align-self-end{
    align-self: flex-end;
}

.o-grid--push-down{
    margin-bottom: $base-padding; 
}

.o-grid--push-down-l{
    margin-bottom: $base-padding-l; 
}

.o-grid--push-down-xl{
    margin-bottom: $base-padding-xl; 
}

.o-grid--push-right{
    margin-right: $base-padding; 
}

.o-grid--push-right-l{
    margin-right: $base-padding-l; 
}

.o-grid--push-right-xl{
    margin-right: $base-padding-xl; 
}

.o-grid--flex-grow-7{
    width: 65%;
}

.o-grid--flex-grow-8{
    width: 70%;
}

.o-grid--flex-grow-10{
    width: 90%;
}

.o-grid--flex-grow-5{
    width: 40%;
}

.o-grid--flex-grow-4{
    width: 30%;
}

.o-grid--half-width{
    width: 50%;
}

.o-grid--break-for-medium {
    @media #{$tablet}{
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.o-grid--fullwidth-for-medium {
    @media #{$tablet}{
        width: 100%;
    }
}

.o-grid--break-for-medium--align-center {
    @media #{$tablet} {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.o-grid--break-for-small {
	@media #{$phone} {
		flex-wrap: wrap;
	}
}
