//Colors
$light-gray-color: #eaeaea;
$header-base-color: #111213;
$background-base-color: #012f5a;
$white-color: #ffffff;
$light-blue-color: #539abe;

$image-container-gray-color: #e9e9e9;
$image-container-outer-border-color: #e5e5e5;
$image-container-inner-border-color: #f3f3f3;

$primary-button-color: #5196b9;

$header-box-shadow-color: rgba(255,255,255,0.73);
$footer-box-shadow-color: rgba(0,0,0, 0.5);

//Typography
$base-font-family: Georgia, serif;
$secondary-font-family: Garamond, serif;

$base-font-size: 1rem;
$nav-font-size: 0.8rem;
$button-font-size: 0.6rem;
$paragraph-font-size: 0.8rem;
$paragraph-font-size-m: 0.9rem;
$blockquote-font-size: 1.6rem;

$h1-font-size: 1.55rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.35rem;
$h4-font-size: 1.3rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1.1rem;

$base-line-height: 1.7rem;
$paragraph-line-height: 1.4rem;
$blockquote-line-height: 2.1rem;

//Paddings
$base-padding-s: .25rem;
$base-padding: .5rem;
$base-padding-l: 1rem;
$base-padding-xl: 1.5rem;
$base-padding-xxl: 2rem;
$base-padding-xxxl: 2.7rem;

//Page
$page-width: 60%;
$gutter-height: 70px;

//Media queries
$laptop: "only screen and (max-width: 1400px)";
$tablet: "only screen and (max-width: 1024px)";
$phone: "only screen and (max-width: 667px)";
